@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr--bg: #D0D5DD;
    --clr--primary: #1570EF;
    --box--shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    --input--border:  1px solid #D0D5DD;
}

body {
   width: 100%;
   overflow-x: hidden;
   font-family: 'Inter', sans-serif;
}

.share__link {
    position: absolute;
    right: 15em;
    top: 3.95em;
    border: 1px dotted var(--clr--bg);
    border-radius: 50%;
    margin-inline: 2em;
    padding: .4em .5em;
}

.share__link:hover {
    background-color: var(--clr--bg);
}

.nav__link__mobile {
    display: none;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile__img {
    background-image: url(../src/Assets/profile__img.svg);
    background-repeat: no-repeat;
    width: 88px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom: 1.5em;
    margin-top: 3.95em;
    transition: all .3s ease-out;
    cursor: pointer;
}

#profile__img:hover{
    background-image: url(./Assets/hoverImg.svg);
}

.profile h2 {
    font-weight: 700;
    line-height: 30px;
}


/* Links */
.links {
    margin-top: 3.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    padding-inline: 2em;
}



.nav__links {
    text-decoration: none;
    color: #101828;
    background-color: #eaecf0;
    line-height: 28px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    padding: 1.5em 2em;
}

.nav__links:hover, .nav__links:active {
    background-color: var(--clr--bg);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    transition: transform .3s ease-out;
}

.socials a:hover {
    transform: scale(1.2);
}


/* Footer */
.footer {
    margin-top: 10em;
    margin-inline: 2em;
    border-top: 2px solid #eaecf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2em;
}

.footer h2 {
    font-weight: 900;
}
.footer span {
    color: red;
}
.footer h4 {
    color: #98a2b3;
    font-weight: 400;
}

                        /* CONTACT-PAGE */
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5em;
}

.header {
    margin-bottom: 3em;
}

.header h1 {
    font-size: 2.25em;
    line-height: 2em;
}
.header p {
    font-size: 1rem;
    line-height: 20px;
    color: #475467;
}

                        /* USER FORM */

.name_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding-bottom: 1em;
}

label {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #344054;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px 14px;
    outline: none;
    border: var(--input--border);
    box-shadow: var(--box--shadow);
    border-radius: 8px;
}

input[type='checkbox'] {
    border: var(--input--border);
    border-radius: 6px;
    cursor: pointer;
}

textarea {
    padding: 12px 14px;
    height: 132px;
}

.checkbox{
    display: flex;
    gap: .5em;
    align-items: center;
}

button {
    width: 100%;
    margin-top: 2em;
    padding: 12px 20px;
    background: var(--clr--primary);
    color: #fff;
    border: 1px solid var(--clr--primary);
    border-radius: 8px;
    box-shadow: var(--box--shadow);
    cursor: pointer;
}


/* MEDIA QUERY FOR MEDIUM/SMALL SCREEN DEVICES */
@media screen and (max-width: 759px) {
    .nav__link__mobile {
        display: block;
        position: absolute;
        right: 2em;
        top: 3.25em;
        margin-inline: 1em;
    }

    .share__link {
        display: none;
    }
    .links {
    padding-inline: 1em;
    }

    .nav__links {
        font-size: .9rem;
    }

    .nav__links:active {
        background-color: var(--clr--bg);
    }

    .socials {
       margin-top: 1.5em;
    }
    
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5em;
        margin-top: 4em;
        margin-inline: 1em;
    }

    .contact {
        margin-inline: .8em;
    }

    .name_container {
        grid-template-columns: 1fr;
    }
}