@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   width: 100%;
   overflow-x: hidden;
   font-family: 'Inter', sans-serif;
}

.share__link {
    position: absolute;
    right: 15em;
    top: 3.95em;
    border: 1px dotted #D0D5DD;
    border-radius: 50%;
    margin-inline: 2em;
    padding: .4em .5em;
}

.share__link:hover {
    background-color: #D0D5DD;
}

.nav__link__mobile {
    display: none;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile__img {
    background-image: url(../src/Assets/profile__img.svg);
    background-repeat: no-repeat;
    width: 88px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom: 1.5em;
    margin-top: 3.95em;
    transition: all .3s ease-out;
    cursor: pointer;
}

#profile__img:hover{
    background-image: url(./Assets/hoverImg.svg);
}

.profile h2 {
    font-weight: 700;
    line-height: 30px;
}


/* Links */
.links {
    margin-top: 3.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    padding-inline: 2em;
}



.nav__links {
    text-decoration: none;
    color: #101828;
    background-color: #eaecf0;
    line-height: 28px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    padding: 1.5em 2em;
}

.nav__links:hover {
    background-color: #D0D5DD;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    transition: transform .3s ease-out;
}

.socials a:hover {
    transform: scale(1.2);
}


/* Footer */
.footer {
    margin-top: 10em;
    margin-inline: 2em;
    border-top: 2px solid #eaecf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2em;
}

.footer h2 {
    font-weight: 900;
}
.footer span {
    color: red;
}
.footer h4 {
    color: #98a2b3;
    font-weight: 400;
}


/* MEDIA QUERY FOR MEDIUM/SMALL SCREEN DEVICES */
@media screen and (max-width: 759px) {
    .nav__link__mobile {
        display: block;
        position: absolute;
        right: 2em;
        top: 3.25em;
        margin-inline: 1em;
    }
    .share__link {
        display: none;
    }
    .links {
    padding-inline: 1em;
    }

    .nav__links {
        font-size: .9rem;
    }

    .socials {
       margin-top: 1.5em;
    }
    
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5em;
        margin-top: 4em;
        margin-inline: 1em;
    }
}